.register{
    width: 100%;
    height: 100%;
}
.register form{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}
.register form .ant-row{
    width: 100%;
}
.register form .ant-row .loginBtn{
    margin-left: 150px;
}
.register form .toLogin{
    width: 100%;
    margin-left: 120px;
}